# SPDX-License-Identifier: FSFAP
# SPDX-FileCopyrightText: 2025 Micro <microgamercz@proton.me>

[Desktop Entry]
Name=Piki
Comment=Unofficial Kirigami client for Pixiv
Comment[cs]=Neoficiální Kirigami klient pro pixiv
Version=0.3
Exec=piki
Icon=io.github.microgamercz.piki
Type=Application
Terminal=false
Categories=Qt;KDE;Network;Feed;Adult
